@font-face {
  font-family: SM64;
  src: url("../assets/fonts/SM64.otf");
}

body {
  background-image: url("../assets/images/background.png");
  font-family: 'SM64', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.section-header {
  font-size: 24px;
}

.scenes {
  display: flex;
  gap: 8px;
}

.scene-selection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#castle, #bomb, #bowser :hover {
  cursor: pointer;
}

.scene {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.keyboard-control {
  @apply flex-row items-center gap-2
}

.indicator {
  @apply flex flex-row gap-4 top-4;
}

.kbd {
  cursor: pointer;
  @apply px-3 py-2 text-sm font-semibold text-gray-900 bg-white border border-gray-200 rounded-lg;
}

.dg .main {
  @apply w-full;
}
