@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SM64;
  src: url("../assets/fonts/SM64.otf");
}

body {
  background-image: url("../assets/images/background.png");
  font-family: 'SM64', serif;
}

.section-header{
  font-size: 24px;
}
