@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SM64;
  src: url("../assets/fonts/SM64.otf");
}

body {
  background-image: url("../assets/images/background.png");
  font-family: 'SM64', serif;
}

.section-header{
  font-size: 24px;
}

.scenes{
  display: flex;
  gap: 8px;
}

.scene-selection{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#music{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#castle, #bomb, #bowser :hover{
  cursor: pointer;
}

.scene{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.indicator {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
